@use "variables" as *;
@use "mixins";

.order {
  @include mixins.flex(column);
  gap: 2rem;
  margin-bottom: 2rem;

  &__field {
    @include mixins.flex(column);
    gap: 1.5rem;
  }

  &__buttons {
    @include mixins.flex(row);
    gap: 1.5rem;
  }
}

@media (max-height: 700px) {
  .order {
    gap: 1rem;
    margin-bottom: 1rem;

    &__field {
      gap: 0.75rem;
    }
  }
}